In [56]:
from pathlib import Path
%matplotlib inline
import matplotlib.pyplot as plt
import plotly.express as px
import hvplot.pandas
from dotenv import load_dotenv
import panel as pn
from panel.interact import interact
from panel import widgets
import os
import pandas as pd

In [70]:
os.chdir('C:/Users/Brendan Shanley/Desktop/')

In [74]:
EOY_Budget_csv = Path("Active_2021.csv")
EOY_Budget_df = pd.read_csv(EOY_Budget_csv)
EOY_Budget_df.head()

,Property,GL CODE,PTD ACTUAL,PTD BUDGET,VARIANCE,ANNUAL BUDGET,REMAINING BUDGET
0,27 Purchase,4100-0000,-289357.73,-321742.33,-32384.60,-321742.33,-32384.60
1,27 Purchase,4106-0600,10645.16,8000.00,-2645.16,8000.00,-2645.16
2,27 Purchase,4110-1000,-29376.77,-20520.00,8856.77,-20520.00,8856.77
3,27 Purchase,4120-2000,-1309.82,-14350.02,-13040.20,-14350.02,-13040.20
4,27 Purchase,4999-9900,-309399.16,-348612.35,-39213.19,-348612.35,-39213.19

In [75]:
EOY_Budget_df.dtypes

Property             object
GL CODE              object
PTD ACTUAL          float64
PTD BUDGET          float64
VARIANCE            float64
ANNUAL BUDGET       float64
REMAINING BUDGET    float64
dtype: object

In [76]:
EOY_Budget_df['VARIANCE_%']=EOY_Budget_df['VARIANCE']/EOY_Budget_df['PTD BUDGET']
EOY_Budget_df.head()

,Property,GL CODE,PTD ACTUAL,PTD BUDGET,VARIANCE,ANNUAL BUDGET,REMAINING BUDGET,VARIANCE_%
0,27 Purchase,4100-0000,-289357.73,-321742.33,-32384.60,-321742.33,-32384.60,0.100654
1,27 Purchase,4106-0600,10645.16,8000.00,-2645.16,8000.00,-2645.16,-0.330645
2,27 Purchase,4110-1000,-29376.77,-20520.00,8856.77,-20520.00,8856.77,-0.431616
3,27 Purchase,4120-2000,-1309.82,-14350.02,-13040.20,-14350.02,-13040.20,0.908723
4,27 Purchase,4999-9900,-309399.16,-348612.35,-39213.19,-348612.35,-39213.19,0.112484

In [78]:
budget_positive_gross = EOY_Budget_df.loc[(EOY_Budget_df['VARIANCE'] >= 10000) & (EOY_Budget_df['VARIANCE_%'] >= .10)]

In [79]:
budget_negative_gross = EOY_Budget_df.loc[(EOY_Budget_df['VARIANCE'] <= -10000) & (EOY_Budget_df['VARIANCE_%']) >= .10]

In [80]:
budget_join = [budget_positive_gross, budget_negative_gross]

In [81]:
budget_variance_review= pd.concat(budget_join)

In [82]:
budget_variance_review.head()

,Property,GL CODE,PTD ACTUAL,PTD BUDGET,VARIANCE,ANNUAL BUDGET,REMAINING BUDGET,VARIANCE_%
170,Airport Bev,5725-2500,93341.91,121000.0,27658.09,121000.0,27658.09,0.228579
175,Airport Bev,5819-1900,-9952.56,1000.0,10952.56,1000.0,10952.56,10.952560
187,Airport Bev,5904-0400,-27570.25,50000.0,77570.25,50000.0,77570.25,1.551405
190,Airport Bev,6999-9900,-505.17,67000.0,67505.17,67000.0,67505.17,1.007540
191,Airport Bev,-,-505.17,67000.0,67505.17,67000.0,67505.17,1.007540

In [85]:
Budget_Variance_Final = budget_variance_review[~budget_variance_review['GL CODE'].astype(str).str.startswith('4')]

In [86]:
Budget_Variance_Final = Budget_Variance_Final[~Budget_Variance_Final['GL CODE'].astype(str).str.startswith('6')]

In [87]:
Budget_Variance_Final

,Property,GL CODE,PTD ACTUAL,PTD BUDGET,VARIANCE,ANNUAL BUDGET,REMAINING BUDGET,VARIANCE_%
170,Airport Bev,5725-2500,93341.91,121000.00,27658.09,121000.00,27658.09,0.228579
175,Airport Bev,5819-1900,-9952.56,1000.00,10952.56,1000.00,10952.56,10.952560
187,Airport Bev,5904-0400,-27570.25,50000.00,77570.25,50000.00,77570.25,1.551405
191,Airport Bev,-,-505.17,67000.00,67505.17,67000.00,67505.17,1.007540
206,Airport Plaza,5370-7000,10136.47,24000.00,13863.53,24000.00,13863.53,0.577647
...,...,...,...,...,...,...,...,...
3604,Yankee Ridge,5376-7600,23387.65,0.00,-23387.65,13000.00,-10387.65,-inf
3616,Yankee Ridge,5900-0000,128556.22,117300.04,-11256.18,228200.02,99643.80,-0.095961
3617,Yankee Ridge,5901-0100,0.00,-28999.98,-28999.98,-1500.00,-1500.00,1.000000
3618,Yankee Ridge,5904-0400,0.00,-28999.98,-28999.98,-1500.00,-1500.00,1.000000
3620,Yankee Ridge,-,0.00,-28999.98,-28999.98,-1500.00,-1500.00,1.000000

In [88]:
Budget_Variance_Final.to_csv("EOY_Variance_1.csv")